<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="mat-elevation-z10 col-3 bg-dark text-light" mode="side" closed style="position:fixed">
        <h2>
            Blogging App
        </h2>
        <ul>
            <li><a href="#">Some link</a></li>
            <li><a href="#">Some link</a></li>
            <li><a href="#">Some link</a></li>
            <li><a href="#">Some link</a></li>
            <li><a href="#">Some link</a></li>
            <li><a href="#">Some link</a></li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar color="primary">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            Blogging App
        </mat-toolbar>
        <app-home></app-home>


    </mat-sidenav-content>
</mat-sidenav-container>
<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="text-center p-3 bg-dark text-light">
        © 2023 Copyright:
    </div>
</footer>