<div class="container-fluid">
    <div class="row">
        <div class="col-2 m-2" *ngFor="let post of posts; index as i">
            <mat-card class="example-card  ">
                <img mat-card-image src="https://picsum.photos/id/{{posts[i].id}}/200/200" alt="Photo of a Shiba Inu"
                    style="width: 200px;height: 200px;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <div class="row">
                        <mat-card-title>{{posts[i].title}}</mat-card-title>

                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-7">
                            <span class="col-6 " style="margin-right: 10px;">ITI 9 Months</span>
                            <span class="col-2 green-dot" *ngIf="posts[i].creator.isOnline;else offline"></span>
                            <ng-template #offline>
                                <span class="col-2 red-dot"></span>

                            </ng-template>
                            <!-- /.row -->
                        </div>
                        <div class="col-5">
                            <div class="followers">
                                Followers:{{posts[i].creator.followers}}
                            </div>
                            <div class="Likes">Likes:{{posts[i].likes}}</div>
                            <!-- /.Likes -->
                            <!-- /.followers -->

                        </div>
                        <!-- /.col-8 -->
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary"
                        *ngIf="!posts[i].creator.isFollowing;else follow">Follow</button>
                    <ng-template #follow>
                        <button mat-raised-button color="warn">Unfollow</button>
                    </ng-template>
                </mat-card-actions>
            </mat-card>

        </div>
        <!-- /.col-4 -->
    </div>
    <!-- /.col4 -->
    <!-- /.row -->

</div>
<!-- /.container-fluid -->